body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.logo{
    font-size: 36px;
    color: #7b2cbf;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.left {
    width: 50%;
}

.left span {
    color: purple;
}

.btn, .btn2 {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.btn {
    background: purple;
}

.btn2 {
    background: black;
}

/* Sections */
.section {
    padding: 60px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: purple;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
}

.projects-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background-color: #f9f9f9;
}

.projects-left {
    width: 50%;
}

.projects-left h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #7b2cbf;
}

.project-item {
    margin-bottom: 25px;
    padding: 15px 20px;
    background: white;
    border-left: 5px solid #7b2cbf;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.project-item h3 {
    margin-bottom: 10px;
}

.projects-right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.projects-right img {
    width: 350px;
}

/* Footer */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.social-icons {
    margin-top: 20px;
}

.social-icons img {
    width: 30px;   
    height: 30px;
    margin-right: 30px;
    transition: 0.3s;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.right img {
    width: 450px;
}
.skills-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background-color: white;
}

.skills-left {
    width: 50%;
    display: flex;
    justify-content: center;
}

.skills-left img {
    width: 450px;
}

.skills-right {
    width: 50%;
}

.skills-right h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #7b2cbf;
}

.skills-right ul {
    list-style: none;
    padding: 0;
}

.skills-right li {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px 20px;
    background: #f3e8ff;
    border-left: 5px solid #7b2cbf;
}